@font-face {
    font-family: 'Bergen Sans Semi Bold';
    src: url('C://Users//MariaWasif//Downloads//BergenSans-SemiBold.woff2') format('woff2'),
         url('C://Users//MariaWasif//Downloads//BergenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
  }
  
  .featured-heading{
    text-align: center;
    margin-top: 8%;
    margin-right: 15%;
    font-family: 'Bergen Sans Semi Bold', sans-serif;
    font-weight: bold;
    color: #22155B;
    size: 40px;
  }
  .grid{
     padding: 150px; 
  }
  .featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
  
  .card {
    margin-top: -30%;
    /* background-color: #f0f0f0; */
    width: 90%;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(1, 1, 1.5, 0.1);
    display: grid; 
    grid-template-rows: 1fr 1fr;
    height: 400px;
  }

  
  .card-row1 {
    background-color: #f3f3f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
  }
  
  
  .card-row2 {
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
  }

  .card-row2:hover{
    background-color: #2F1AC4;
  }


  .card-row3 {
    background-color: #f3f3f9;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .card-row2 h3{
    color: #FB2E86;
    text-transform: none;
    margin-top: -20%;
  }
  .chair{
    width: 75%;
    margin-top: -15%;
    height: auto;
    align-items: center;
  }
  
  .card-row2 h4{
    font-family: 'Bergen Sans Semi Bold', sans-serif;
    color: #22155B;
    margin-left: -50%;
  }
  .card-row2 h5{
    font-family: 'Bergen Sans Semi Bold', sans-serif;
    color: #22155B;
  }

    .card:hover .card-row2 h3,
    .card:hover .card-row2 h4,
    .card:hover .card-row2 h5 {
    color: white;
    }
